.summary-label {
  display: flex;
  background-color: white;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.results-packages-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.results-package-item {
  display: flex;
  width: 48rem;
  justify-content: space-between;
  background-color: #c5e0e6;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

.results-package-item > div {
  width: 16.5%;
  min-width: fit-content;
}

@media only screen and (max-width: 600px) {
  .results-list-container {
    width: 100%;
  }

  .results-package-item {
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .results-package-item > div {
    width: auto;
    min-width: fit-content;
  }
}
